.project
.settings
delivery/.classpath
delivery/.settings
delivery/target
patrius-tools/.classpath
patrius-tools/.settings
patrius-tools/target
patrius-val/.classpath
patrius-val/.settings
patrius-val/target
pbase/.classpath
pbase/.settings
pbase/target
repository/.project
repository/.settings
/bin/
/target/
